# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === SMSC.ru credentials ===
SMSC_LOGIN = login for sending sms
SMSC_PASSWORD = my password here
# Emulate sending SMS
SMSC_USE_MOCK = True

# === Redis credentials ===
REDIS_URI = redis://127.0.0.1:6379
REDIS_PASSWORD =
